<h1>Voici mes films :</h1>
<% @mesFilms.each do |film| %>
	<p> <a href="/films/<%= film.id %>"><%= film.titre %></a></p>
<% end %>

<%= form_tag "/films", method: "post" do %>
	<input type="string" name="titre">
	<input type="submit" value="ajouter à la liste">
<% end %>